body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

.imagens_body {
    border-radius: 10%;
    border: 3px solid #004AAD ;
    justify-content: center;
}

header img {
     border-radius: 50%;
     border: 5px solid #004AAD;
}

footer img {
    width: 20;
    height: 20;
}

.center {
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin top: 2px;
}

.container {
    padding: 0px 50px;
}

nav a:hover {
    color: #004AAD;
}